.сontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 100vw;
  height: 100vh;
  background-color: #f0ffff;
}
.wrapper {
  height: 60vh;
  width: 40vw;
}
